<!-- if you ever need them, use current_user and current_user.admin? -->
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="panel-title">
    	<%= message.user.first_name %><span class="time-stamp"> on <%= message.created_at.localtime.strftime("%b %e, %Y at %H:%M %Z") %></span>
    </span>
  </div>
  <div class="panel-body">
    <%= message.text %>
  </div>
</div>