<%= form_for([@room, @room.messages.build], remote: true) do |f| %>
	<div>
	  <h3>New Message</h3>
	</div>

	<div class="field">
	  <%= f.label :text %>
	  <%= f.text_area :text, id: 'message-textarea' %>
	</div>


	<br>

  <div class="center-content">
    <%= f.submit "Launch!", class: "btn btn-primary" %>
  </div>
<% end %>