<div class="container-fluid" data-room-id="<%= @room.id %>">
	<div class="row">
		<div class="col-xs-2"></div>
	  <div class="col-xs-8">
			<%= render 'messages' %>
	  </div>
	  <div class="col-xs-2"></div>
	</div>
</div>

<nav class="sticky_nav navbar-fixed-bottom">
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-8">
			<%= render 'new_message' %>
		</div>
		<div class="col-xs-2"></div>
	</div>
</nav>
