// Place all the styles related to the main_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*************/
/* variables */
/*************/
$header-height: 50px;
$heavy-grey: #d5d5d5;

/***********/
/* general */
/***********/

// adjusting for the navigation bar
body { padding-top: $header-height; }

// tweaking the bottom border for the page headers
.page-header { border-bottom: 1px solid $heavy-grey; }

// tweak the hr tags
.heavy-hr { border-top-color: $heavy-grey; }

// generic class for centering content
.center-content { text-align: center; }

// generic class for styling the anchor tags
.large-anchors {
  font-size: 21px;
  font-weight: 200;
}

// adds margin to form buttons
.form-button {
	margin-top: 25px;
	margin-bottom: 25px;
}

// used to style different texts in form labels
.double-content {
	margin-bottom: 5px;

	.inline-label { display: inline; }

	.custom-label {
		margin-left: 5px;
		
		font-weight: normal;
	}
}

// change the colour of focused elements to orange-ish
.form-control:focus {
    border-color: #ec971f;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(236,151,31,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(236,151,31,.6);
}

/******************/
/* navigation bar */
/******************/

#custom-chevron {
	top: 0;
	padding: 15px 6px;
}

// tweaking the navbar's look and feel
.navbar-default { 
	background-color: #ec971f;
	border-color: #d58512;

	.navbar-brand { color: #fff; }
	.navbar-brand:hover { color: #333; }
	.custom-brand:hover { color: #fff; }

	.navbar-nav {
		> li {
			> a { color: #fff; }
		}

		>.open {
			>a, >a:hover, >a:focus {
		    color: #fff;
		    background-color: #465c85;
			}
		}
	}

	.navbar-toggle { 
		border-color: #fff; 

		.icon-bar { background-color: #fff; }
	}
}

@media (max-width: 767px) {
	.navbar-default {
		.navbar-nav {
			.open {
				.dropdown-menu {
					>li {
						>a {
	    				color: #333;
	    			}
	    		}
	    	}
	    }
	  }
	}
}

#top-navbar-collapse {
	//color: #333;
	//background-color: #fff;
}

.dropdown-menu {
	min-width: 140px;
	text-align: right;

	>li {
		//>a {
		//	padding: 0;
		//	padding-right: 15px;
		//}

		>a:hover {
	    color: #fff;
	    background-color: #465c85;
		}
	}
}

/**************/
/* index page */
/**************/

// tweaking the jumbotron at the index page
.jumbotron {
	text-align: center;
	background-color: #fff;

	h1 { text-align: center; }

	p { margin-bottom: 50px; }
}

#rocket {
	max-height: 395px;
  opacity: 0.5;
}

#minirocket { padding: 4px 9px; }

.container-fluid {
	>.navbar-header { margin-right: 0px; }
}

.navbar-glyphicon-container {
	margin-left: 15px;

	.navbar-glyphicon {
		margin-top: 2px;

		font-size: 42px;
		color: #fff;
	}

	.navbar-glyphicon:hover {
		color: #333;
	}
}

#launch-pad-name {
	position: fixed;
	margin-top: 0px;
	border-radius: 0;
	text-align: center;
	border-width: 1px 0px 2px 0px;
	width: 100%;
	z-index: 1030;
}

.lowermenu {
	max-width: 738px;

	>p { margin-bottom: 0; }
}

