// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* used for login, sign-up, password reset, and other small forms */
.mini-container {
	margin: 0 auto;
	max-width: 310px;
}

#room-list {
	margin-bottom: 0;
	padding-left: 20px;
  padding-top: 0px;
}